html {
    background-color: #eee;
	font-family: "Trebuchet MS";
	color: gray;
}

/* Your CSS here */
/* gap requirement */
td {
	padding-bottom:10px;
	padding-right:40px;
	padding-top:10px;
	text-align:center;
}
/* Makes the language to/language from text appear in black */
span {
	color: black;
}
/* Makes the random word given appear in black */
.wrapper {
	text-align: center;
	height:110px;
}
/* Makes the correct response line appear in blue */
.button {
	/*position: absolute;*/
	height:100px;
	width:300px;
	font-size: 25px;
}
/* Makes the incorrect response line appear in red */
.wrong {
	color: red;
}
/* Makes the incorrect user response appear crossed out */
.wrongAnswer {
	text-decoration:line-through;
}