html {
    background-color: #eeeeff;
	font-family: "Trebuchet MS";
	color: black;
}

table {
	padding-top: 0px;
}

td {
	text-align:center;
}

h2{
	margin: 0px;
}
/* Makes the language to/language from text appear in black */
span {
	color: black;
}

/* Makes button position happen */
.top_level {
	padding-top: 10px;
	display: inline-block;	
	position: relative;
	text-align: left;
	width: 100%;
	vertical-align: bottom;
}

.controls {
	margin-left: 10px;
	display: inline-block;	
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
}

.logo {
	font-size: 50px;
	font-family: 'Fredericka the Great';
	padding-right:30px;
	text-align: right;
	float: right;
}

.calendar_date_text {
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width: 210px;
}

/* Border surrounding all tasks of a person */
.task_col {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border: 2px solid black;
	width: 25%;
	max-width: 100px; /* don't know why this works. come back to later?*/
	min-width: 300px;
	height: 500px;
}

/* Individual task */
.task {
	position:relative;
	padding-top: 0px;
	padding-bottom: 0px;	
	padding-right: 15px;
	margin-bottom: 10px;
	vertical-align: bottom;
	color:black;
	height:90px;
	border:2px solid #a1a1a1;
	border-radius:25px;
	
	cursor: -webkit-grab; cursor: -moz-grab;
}

/* left part of task (the menu) */
.task_left{
	margin-top: 0px;
	margin-left: 15px;
    float:left;
	width: 5px;
}

/* Right part of a task (everything besides the menu) */
.task_right{
	float: right;
	margin-top: 10px;
	width: 90%;
}

/* Name of task*/
.task_text {
	font-size: 30px;
	padding-bottom: 15px;
	overflow: hidden;
	white-space: nowrap;
}

/* div containing date and reward*/
.task_details{
	padding-left: 0px;
	padding-right: 0px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
}

/* describe date*/
.task_date {
	display: inline-block;
	float: left;
	text-align: left;
}

/* describe reward*/
.task_reward {
	display: inline-block;	
	text-align: right;
	float: right
}

/* format a kid's name */
.name {
	font-size: 30px;
	font-weight: 1000;
	color: black;
}

/* "Did.It" for completed tasks */
.done {
	margin-top:3px;
	z-index:998;
	background:#89E894;
	color: white;
	font-size: 24px;
	position:absolute; 
	right: 2px;
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); /* IE 9 */
	-webkit-transform:rotate(30deg); /* Opera, Chrome, and Safari */
	font-family: 'Fredericka the Great';
}

/* Menu items for tasks */
.fa {
	font-size: 0.8em;
	cursor: pointer;
	position: relative;
}

/* Menu items for tasks when hovered over */
.fa:hover {
	font-size: 1em;
}

/* tooltips for task menu items */
.fa span {	
	position: absolute;
	display: none;
}

/* tooltips for task menu items */
.fa:hover span {
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	
	position: absolute; 
	left: 1em; 
	top: 1em; 
	z-index: 999;
	margin-left: 0; 
	white-space: nowrap;
	
	padding: 0.8em 1em;
	background: #FFFFAA; 
	border: 1px solid #FFAD33;
	
	display: initial;
}