html {
    background-color: #eee;
	font-family: "Trebuchet MS";
	color: black;
}

table {
	padding-top: 0px;
}

td {
	text-align:center;
}

h2{
	margin: 0px;
}
/* Makes the language to/language from text appear in black */
span {
	color: black;
}

.topTable{
	width: 100%;
}

/* Makes button position happen */
.createTask_col {
	text-align: right;
	width: 55%;
}

/* Makes the correct response line appear in blue */
.button {
	height:75px;
	width:200px;
	font-size: 25px;
	background: #b0e0e6;	
}

.logo {
	font-size: 50px;
	font-family: 'Fredericka the Great';
	padding-right:30px;
	padding-top: 10px;
	text-align: right;
}

.calendar {
	text-align: right;
	padding-right: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.calendar_button {
	display: inline-block;
	background: #b0e0e6;
	height: 30px;
	width: 45px;
	font-size: 18px;
}
.calendar_button_today {
	display: inline-block;
	background: #b0e0e6;
	height: 30px;
	width: 70px;
	font-size: 18px;
	text-align: center;
}

.calendar_date_text {
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width: 210px;
}

/* Border surrounding all tasks of a person */
.task_col {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border: 2px solid black;
	width: 25%;
	max-width: 100px; /* don't know why this works. come back to later?*/
	height: 800px;
}
/* Individual task */
.task {
	position:relative;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
	vertical-align: bottom;
	background: #dddddd;
	color:black;
	height:90px;
	border:2px solid #a1a1a1;
	border-radius:25px;
	cursor: pointer;
}
/* Name of task*/
.task_text {
	font-size: 30px;
	padding-bottom: 15px;
	overflow: hidden;
	white-space: nowrap;
}
/* div containing date and reward*/
.task_details{
	padding-left: 0px;
	padding-right: 0px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;	
}
/* describe date*/
.task_date {
	display: inline-block;
	width: 80%;
	text-align: left;
}
/* describe reward*/
.task_reward {
	display: inline-block;
	width: 18%;
	text-align: right;
}
/* format a kid's name */
.name {
	font-size: 30px;
	font-weight: 1000;
	color: black;
}

.list { 
	text-align:left;
	display:none;
	position:absolute; 
	left:300px; 
	top:100px;
	z-index:999;
	width:150px;
	margin:0; 
	padding:10px; 
	list-style:none;
	background:#eee; 
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}

.task>ul.list li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}

.task>ul.list li:hover {
	background:#B0E0E6; 	
}

.task>ul.list li:last-child {
	border:none
}

.done {
	z-index:998;
	background:#32cd32;
	color: white;
	font-size: 24px;
	position:absolute; 
	right: 0;
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); /* IE 9 */
	-webkit-transform:rotate(30deg); /* Opera, Chrome, and Safari */
	font-family: 'Fredericka the Great';
}