html{
	background-color: #eee;
	font-family: "Trebuchet MS";
	color: black;
}
body{
   padding-left: 30px;
   font-size: 20px;
}

td{
	padding-right: 15px;
	padding-bottom: 5px;
}

hr{
	position: absolute;
	left: 0px;
	width: 100%;
}

table{
	margin-top: 20px;
}

button{
  background-color: #b0e0e6;
}

.back_button{
	height: 30px;
	width: 90px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.save_button{
	height: 30px;
	width: 90px;
	margin-bottom: 10px;
}

.deleteReminder{
	cursor: pointer;
}

.reminder{
	width: 3.5em;
}

.reminder_td{
	font-size: 16px;
}

.daysBefore{
	float: right;
	display: inline-block;
}

.ui-autocomplete.ui-widget {
	font-size: 15px;
}

.fa.fa-times {
	font-size: 0.8em;
}

.fa.fa-times:hover {
	color:red;
	font-size: 1em;
	cursor: pointer;
}